<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzTheme="light"
            nzBreakpoint="md"
            [nzTrigger]="null">
    <app-left-bar></app-left-bar>
  </nz-sider>
  <nz-layout>
    <app-tree></app-tree>
    <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzTheme="light"
            nzBreakpoint="md"
            [nzTrigger]="null">
  </nz-sider>
  </nz-layout>
</nz-layout>

